<a href="https://colab.research.google.com/github/codex8085/CRTprog1/blob/master/CRTday2python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## functional programming
1. simple
2. easy to understand
3. better reusability
4. length of the program will be subdivided

In [0]:
# syntax
def function_name(<parameter>):
  statement
  return

In [3]:
# read a number and print even digits sum
def evedigsum(n):
  s=0
  while n!=0:
    r=n%10
    if r%2==0:
      s=s+r
    n=n//10
  return s
evedigsum(212)

4

In [8]:
def square(x):
  print(x*x)
print(square(3))

9
None

In [6]:
def square(x):
  return x*x
square(4)
e=square(5)
print(e+1)

26

In [11]:
def mult(x,y=0):
  print("x value is ",x)
  print("y value is ",y)
  return(x*y)
print(mult(1,2))
print(mult(y=3,x=4))
print(mult(3))

x value is  1
y value is  2
2
x value is  4
y value is  3
12
x value is  3
y value is  0
0

In [14]:
# swap values
def swap(x,y):
  print("x is ",x)
  print("y is ",y)
  t=x
  x=y
  y=t
  print("new x is ",x)
  print("new y is ",y)
  return x,y
swap(2,1)

x is  2
y is  1
new x is  1
new y is  2

(1, 2)

In [29]:
# large digit of the number
def lar(x):
  l=0
  while(x!=0):
    r=x%10
    if l<r:
      l=r
    x=x//10
  return l
lar(122314599)

9

# for loop
### syntax 1
for i in range (start,stop,step):
> statement
### syntax 2
for i in Iterableobject:
> statement

In [30]:
def print_series(lb,ub):
  for x in range(lb,ub+1):
    print(x,end = " ")
  return
print_series(1,20)

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

# data structers
1. list
2. tuple
3. set
4. dictionary

# list
1. one of the data structures in python.
2. data structures have store, sort and search options
3. its a comon data structure in python, item of the list are seperated by comma and are enclosed in [ ]

#### example
- list1=[1,2,3,4]
- list2=["gitam",1,2,3]



- address --> 0,1,2  (index)
-       list=[1,2,3]
-            -3,-2,-1 <-- index

In [38]:
lis=[1,2,3,4,5,6,7,8]
print(lis)
print(lis[2])
print(lis[-6])
print(lis[2:])
print(lis[2:5])
print(lis[-6:-3])

[1, 2, 3, 4, 5, 6, 7, 8]
3
3
[3, 4, 5, 6, 7, 8]
[3, 4, 5]
[3, 4, 5]
[]

In [44]:
lili=[1,2,3,'gitam']
print(lili)
lili[2]=475
print(lili)
lili[3]=34
print(lili)
lili[1]='tewr'
print(lili)

[1, 2, 3, 'gitam']
[1, 2, 475, 'gitam']
[1, 2, 475, 34]
[1, 'tewr', 475, 34]

In [45]:
#delete item
lis=[1,2,3,4,5,6]
print(lis)
del lis[2] #delete '3'
print(lis)

[1, 2, 3, 4, 5, 6]
[1, 2, 4, 5, 6]

In [46]:
# list operations
listt=[1,2,3,4,55,66]
print(len(listt))

6